<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	

</h:head> 

<body> 

<h:form>
	<h:panelGrid columns="3">
		<h:outputLabel value="Codigo" />
		<h:inputText value="#{telefonoController.telefono.codigo}" id="txtCodigo"/>
		<h:message for="txtCodigo"/>
		
		<h:outputLabel value="Número" />
		<h:inputText value="#{telefonoController.telefono.numero}" id="txtNumero" />
		<h:message for="txtNombre"/>
		
		<h:outputLabel value="Tipo de telefono" />
		<h:inputText value="#{telefonoController.telefono.idTipo}" id="txtTipoTelefono" >
			<f:ajax listener="#{telefonoController.consultarTipoTelefono()}" render="datosTipoTelefono" />
		</h:inputText>
		<h:panelGroup id="datosTipoTelefono">
			<h:message for="txtTipoTelefono"/>
			#{telefonoController.telefono.tipo.nombre}
		</h:panelGroup>
		
		
		<h:outputLabel value="Persona" />
		<h:inputText value="#{telefonoController.telefono.idPersonaTemp}" id="txtPersona" >
			<f:ajax listener="#{telefonoController.consultarPersona()}" render="datosPersona errores"/>
		</h:inputText>
		<h:panelGroup id="datosPersona">
			<h:message for="txtPersona"/>
			#{telefonoController.telefono.persona.nombre}
		</h:panelGroup>
		
	
		<h:outputText value="" />
		<h:commandButton action="#{telefonoController.guardarDatos()}" value="Guardar" />
	
	</h:panelGrid>
	
	
	<h:messages id="errores"/>
	



</h:form>


</body> 
</html>
