<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<f:metadata>
		<f:viewParam name="id" value="#{personaController.id}"></f:viewParam>
		<f:viewAction action="#{personaController.loadData()}"/>
	</f:metadata>

</h:head> 

<body> 

<h:form>
	<h:panelGrid columns="3">
		<h:outputLabel value="Codigo" />
		<h:inputText value="#{personaController.persona.codigo}" id="txtCodigo"/>
		<h:message for="txtCodigo"/>
		
		<h:outputLabel value="Nombre" />
		<h:inputText value="#{personaController.persona.nombre}" id="txtNombre" />
		<h:message for="txtNombre"/>
		
		<h:outputLabel value="Telefonos" />
		<h:dataTable value="#{personaController.persona.telefonos}" var="telefono">
			<h:column>
				<f:facet name="header">Código</f:facet>
				<h:inputText value="#{telefono.codigo}" />
			</h:column>
			<h:column>
				<f:facet name="header">Número</f:facet>
				<h:inputText value="#{telefono.numero}" />
			</h:column>
			<h:column>
				<f:facet name="header">Tipo</f:facet>
				<h:inputText value="#{telefono.idTipo}" />
				#{telefono.tipo.codigo} - #{telefono.tipo.nombre}
			</h:column>
		</h:dataTable>
	
		<h:commandButton action="#{personaController.addTelefono()}" value="+ telefono" />
	
		<h:outputText value="" />
		<h:commandButton action="#{personaController.cargarDatos()}" value="Guardar" />
	
	</h:panelGrid>
	
	
	

	<h:commandButton action="#{personaController.nuevo()}" immediate="true" value="Limpiar" />
	
	<h:commandButton action="#{personaController.listado()}" immediate="true" value="Limpiar" />

</h:form>


</body> 
</html>
